includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - Modules/

    # Level 10 is the highest level
    level: 5

    ignoreErrors:
        - '/Parameter #1 \$view of function view expects view-string\|null, string given\./'
        - '/Call to an undefined method Illuminate\\Testing\\TestResponse\:\:assertCanSeeTableRecords\(\)\./'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php